.App {
  text-align: center;
}

* {
  background: #f3f4f8;
}

.cell {
  width: 300;
  height: 300;
  padding: 5px;
  text-align: center;
  flex-direction: row;
  cursor:pointer;
  padding: 15px;
}

.inner {
  width: 230px;
  height: 230px;
  border-radius: 20px;
  box-shadow:  inset -7px -7px 8px #eeeff3, inset 7px 7px 8px #f8f9fd;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 30px;
  margin: auto;
  /* 세로 정렬 */
  justify-content: center; 
  /* 가로 정렬 */
  align-items: center;
}


.picture {
  height: 150px;
  width: 170px;
  border-radius: 10px;
}

.trList {
  display: flex;
  /* padding: 5%; */
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
}

input[type=button] {
  border-radius: 3px;
  
  /* background: #fdfdfd; */
  height: 50px;
  width: 12%;
  margin: 7px;
  border: 95px;
  font-weight: 300;
  font-size: 20px;
}

h5, h4, h3, h2, h1, p {
  color : #403f3e;
  font-weight : 300;
  margin: 5px;
}

.shadow {
  box-shadow: 5px 5px 10px #e4e4e4, -5px -5px 10px #ffffff;
}

.sticky input {
  color: #7f8081;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  margin: 10px;
}

.sticky {
  padding-top: 3%;
  padding-bottom: 3%;
  position: fixed;
  flex-direction: row;
  left: 10px;
  top: 25%;
  width: 5%;
  height: 60%;
  border-radius: 0px 15px 15px 0px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonTr {
  /* background: #fdfdfd; */
  width: 100%;
  margin: 10% 40px;
  height: 30px;
  padding: 30px 50px;
  align-items: center;
}

.container {
  padding: 5%;
}

.selectedBtn {
  box-shadow: none;
box-shadow: inset 5px 5px 5px #cbcdd1, 
          inset -5px -5px 5px #ffffff;
  border: 1px black;
}

@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
  .buttonTr {
    width: 100%;
    margin: 10% 40px;
    height: 30px;
    padding: 30px 50px;
    align-items: center;
  }

  input[type=button] {
    width: 40%;
    height: 70px;
    border: 95px;
    font-weight: 300;
    font-size: 15px;
  }

  .cell {
    width: 90%;
    height: 70%;
    /* padding: 5px;*/
    margin: 0% 3% 0% 3%;
    text-align: center;
    flex-direction: row;
  }

  .sticky input {
    text-decoration: none;
    font-size: 25px;
    border-radius: 50px;
    height: 100px;
    width: 200px;
    margin: 20px;
  }

  .sticky {
    position: relative;
    padding: 10% 10%;
    display: flex;
    left: unset;
    width: 100%;
    height: 8%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}